h1 {
  color: black;
  font-size: 40px;
  border-bottom: green 1px solid;
  padding: 15px 40px;
}
p {
  font-size: 20px;
  background-color: black;
  color: pink;
  margin: 20px 40px;
}
.cutom_class{
  color: red;
  background-color: green;
}